:root{
	--estado-buda:0.3s;
	--cada-item:28px;
	--cantidad-items:2;
}


body{
	display:grid;
	height: 100vh;
	margin: 0;
	gap:30px;
	font-family: Arial;
	font-size: 16px;
	
	background:black;
	justify-content: center;

	}
.eterno{
	position: absolute;
	margin:5px;
	width: 400px;
	height: 800px;
	

place-items:center;
	
}
.estela{
	display: flex;
	float: left;
	z-index: 2;
}


header{
	
  float: left;
z-index: 2;
  
}
#ArielPlaza_s{
	margin-left: -4px;
	position: relative;
	top: 25px;
	z-index: 4;
	}


nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 16px;
}
nav ul li{
border-bottom: 1px solid  #1E1E1E;

}
nav ul a{
	box-sizing: border-box;
	color: white ;
	display: block;
	background:#121212 ;
	width: 100%;
	padding: 6px 10px;
	font-size:18px;
	text-decoration: none;
	display: flex;

}
.primero li a{
	text-align: center;
	font-size: 24px;
	margin: 5px 25px;
float: left;

}
.zhi-mang-xing-regular {
  font-family: "Zhi Mang Xing", cursive;
  font-weight: 400;
  font-style: normal;
}
.primero li a:hover{
	 background: #441756;
	 padding: 20px 20px;
z-index: 3;
}
nav ul ul{
	height: 0px;
	overflow: hidden;
	transition: var(--estado-buda);
	counter-reset: items;
}
nav ul ul li{
	counter-increment: items;
}
nav ul li:hover ul{
	height: calc(var(--cantidad-items)*var(--cada-items));
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0% ,rgba(67,103,17,1)35%, rgba(0,212,255,1) 100%);
	height: 700%;
}
nav ul ul a{
	background: transparent;
	
}
h3{
	
width:390px;
	

}

img{
align-items:center;
}
.ifrax{
	display: flex;
	
justify-content: center;
width: 358px;
height: 570px;
	}
.fraxm{
	width: 400px;
    	height: 760px;
	position: absolute;
	
	flex-direction: column;
	float: left;
	z-index: 1;
		
	
	}


iframe{
	position: relative;
	left:20px;
    
	background:black;
	

	}



    .container{
    	width: 100vw;
        height: 100vh;
    }

    .color-select{
    	width: 100vw;
    	height: 50px;
    	background-color: rgb(242,255,168);
    	display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    .color-select div{
    	background: rgb(6,147,207);
    	width: 30px;
    	height: 30px;
    	border-radius: 50%;
    	margin-right: 30px;
    	cursor: pointer;
    }

#marco1{
background-color: white;
    	width: 353px;
    	height: 340px;
    top: 45px;
    margin-right: -20px;
       display: block;
        background: black;
 borde: 1px solid blue;
	z-index:2;
	}
   
    #marco2{
    	display: block;
    	top: 10px;
    	width: 353px;
    	height: 248px;
               
	    z-index:1;
}


 .estam>a:hover {
background-color: #7D3C98;
}
#set{
	width: 100%;
	height: 50px;
	text-align: center;
	font-size:30;
	position: relative;
	bottom: 70px;
	top: -79px;
	
}

nav>a{ 
	padding: 10px;
	margin: 5px;
width: 18%;
height: 900%;
background-color:#33ff66;
text-decoration: none;
color: white;
 }
 .sex1{
 	border-radius: 12px;

 }
.sex1:hover{
	background:#441756;
}
h3{
	
	position: relative;
	bottom: 96px;
	text-align:center; 
	border:3px solid #121212;
	border-radius: 5px;
	background-color: #441756;
	color: white;
	font-size: 19px;
	padding: 8px;
}
main{
	position: relative;
	bottom: 68px;
}



img{
	width:160px;
	height: 190px;
}
video{
	
	position: relative;
   top:-140px; }


